@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 30 50% 98%;
    --foreground: 140 10% 25%;
    --card: 0 0% 100%;
    --card-foreground: 140 10% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 140 10% 25%;
    --primary: 158 44% 52%;
    --primary-foreground: 150 50% 98%;
    --secondary: 150 30% 95%;
    --secondary-foreground: 140 10% 25%;
    --muted: 150 20% 90%;
    --muted-foreground: 150 10% 45%;
    --accent: 158 44% 52%;
    --accent-foreground: 150 50% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 150 20% 88%;
    --input: 150 20% 92%;
    --ring: 158 44% 52%;
    --chart-1: 158 44% 52%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 140 10% 10%;
    --foreground: 30 50% 98%;
    --card: 140 10% 15%;
    --card-foreground: 30 50% 98%;
    --popover: 140 10% 15%;
    --popover-foreground: 30 50% 98%;
    --primary: 158 44% 52%;
    --primary-foreground: 150 50% 98%;
    --secondary: 140 10% 20%;
    --secondary-foreground: 30 50% 98%;
    --muted: 140 10% 25%;
    --muted-foreground: 150 10% 65%;
    --accent: 158 44% 52%;
    --accent-foreground: 150 50% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 10% 25%;
    --input: 140 10% 25%;
    --ring: 158 44% 52%;
    --chart-1: 158 44% 52%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
